<?xml version="1.0"?>
<config>
    <modules>
        <Amanty_Extensions>
            <version>1.0.1</version>
        </Amanty_Extensions>
    </modules>
    <global>
        <helpers>
            <extensions>
                <class>Amanty_Extensions_Helper</class>
            </extensions>
        </helpers>
        <models>
            <checkout>
                <rewrite>
                    <type_multishipping>Amanty_Extensions_Model_Checkout_Type_Multishipping</type_multishipping>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order>Amanty_Extensions_Model_Sales_Order</order>
                    <order_config>Amanty_Extensions_Model_Sales_Order_Config</order_config>
                </rewrite>
            </sales>
        </models>
    </global>
    <frontend>
        <routers>
            <extensions>
                <use>standard</use>
                <args>
                    <module>Amanty_Extensions</module>
                    <frontName>extensions</frontName>
                </args>
            </extensions>
        </routers>
    </frontend>
</config>
