<?xml version="1.0"?>

<config>
    <modules>
        <Amanty_Pay>
            <version>0.0.1</version>
        </Amanty_Pay>
    </modules>
    <global>
        <models>
            <Pay>
                <class>Amanty_Pay_Model</class>
            </Pay>
        </models>
        <blocks>
            <Pay>
                <class>Amanty_Pay_Block</class>
            </Pay>
        </blocks>
        <helpers>
            <Pay>
                <class>Amanty_Pay_Helper</class>
            </Pay>
        </helpers>
        <resources>
            <Amanty_setup>
                <setup>
                    <module>Amanty_Pay</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Amanty_setup>
            <Pay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Pay_write>
            <Pay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Pay_read>
        </resources>
        <payment>
            <Pay_payment>
                <languages>
                    <FR>
                        <code>FR</code>
                        <name>Français</name>
                    </FR>
                    <EN>
                        <code>EN</code>
                        <name>Anglais</name>
                    </EN>
                </languages>
            </Pay_payment>
        </payment>
    </global>
    <frontend>
        <secure_url>
            <Pay_payment>/Pay/payment</Pay_payment>
        </secure_url>
        <routers>
            <Pay>
                <use>standard</use>
                <args>
                    <module>Amanty_Pay</module>
                    <frontName>Pay</frontName>
                </args>
            </Pay>
        </routers>
        <translate>
            <modules>
                <Amanty_Pay>
                    <files>
                        <default>Amanty_Pay.csv</default>
                    </files>
                </Amanty_Pay>
            </modules>
        </translate>
        <layout>
            <updates>
                <Pay>
                    <file>Pay.xml</file>
                </Pay>
            </updates>
        </layout>
        <events>
            <checkout_controller_multishipping_shipping_post>
                <observers>
                    <Pay>
                        <type>model</type>
                        <class>Pay/observer</class>
                        <method>initRedirect</method>
                    </Pay>
                </observers>
            </checkout_controller_multishipping_shipping_post>
            <sales_order_place_after>
                <observers>
                    <Pay>
                        <type>model</type>
                        <class>Pay/observer</class>
                        <method>disableEmailForMultishipping</method>
                    </Pay>
                </observers>
            </sales_order_place_after>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <Pay>
                        <type>model</type>
                        <class>Pay/observer</class>
                        <method>multishippingRedirectUrl</method>
                    </Pay>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Amanty_Pay>
                    <files>
                        <default>Amanty_Pay.csv</default>
                    </files>
                </Amanty_Pay>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <Pay_payment>
                <model>Pay/payment</model>
                <title>Paiement Amanty</title>
                <allowspecific>0</allowspecific>
                <transaction_type>O</transaction_type>
                <empty_cart>1</empty_cart>
                <several_times_payment>0</several_times_payment>
                <terms>3</terms>
            </Pay_payment>
        </payment>
    </default>
</config>
